@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0e1469;
  --color-secondary: #fe0008;
  --color-white: #ffffff;
}

body {
  font-family: "Barlow", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

